.wrapper-detail{
  box-shadow: 0 0 68px #ccc;
  margin-top: 30px;
}
.profile{
  padding: 0 0 50px 0;
  border-right: 1px solid #ccc;
}
.profile .avatar{
  text-align: center;
  background-color: #003ab8;
  padding: 20px 0;
}
.profile .avatar .title{
  display: flex;
}
.profile .avatar .title i{
  color: aliceblue;
  padding: 0 10px;
}
.profile .avatar h2{
  text-transform: uppercase;
  font-size: 20px;
  color: aliceblue;
  margin-bottom: 20px;
  width: 90%;
}
.profile .avatar img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
h2.file{
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
  position: relative;
}
h2.file::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 80px;
  display: block;
  background-color: #003ab8;
}
table{
  width: 100%;
  font-size: 14px;
  color: rgb(100, 98, 98);
  margin-left: 15px;
}
.record tr{
  height: 40px;
}
.record td.information{
  color: #000;
}
.eHealthy h2{
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  margin: 20px 0 50px;
  color: #003ab8;
}
.eHealthy .cardsEHealthy{
  margin: 20px 0;
  justify-content: center;
}
.eHealthy .cardsEHealthy .card{
  box-shadow: 0px 9px 19px 0px #dedede;
  margin: 15px;
}
.cardsEHealthy .card p{
  margin: 2px 0;
  color: rgb(94, 88, 88);
  font-size: 14px;
}
.cardsEHealthy .card .id{
  border-bottom: 1px solid #ccc;
}
.cardsEHealthy .card .id .information{
  font-weight: 600;
  color: #003ab8;
  font-size: 15px;
}
.cardsEHealthy .card .date{
  display: flex;
  justify-content: space-between;
}
.cardsEHealthy .card .date .information{
  font-weight: 600;
}
.cardsEHealthy .card .detail{
  text-align: right;
  margin: 5px 0;
  font-weight: 600;
  color: #003ab8;
}
