body {
  background: -webkit-linear-gradient(left, #9b59b6, #3931af, #00c6ff);
  background-size: cover;
}
.wrapper-login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  transform: translateY(20%);
}
.icon-login i{
  font-size: 100px;
  margin-bottom: 30px;
}
.icon-login p{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.login{
  background-color: white;
  width: 350px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 9px;
}
.login i{
  font-size: 50px;
  margin-bottom: 30px;
  color: #9b59b6;
}
.login h1{
  font-size: 28px;
  margin-bottom: 30px;
}
.login .inputs{
  display: flex;
  flex-direction: column;
}
.login .inputs input{
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border-radius: 5px;
}
.login .inputs button{
  background: -webkit-linear-gradient(left, #00c6ff, #3931af, #9b59b6);
  color: aliceblue;
  width: 50%;
  transform: translateX(50%);
  margin: 20px 0;
}
.login .inputs button a{
  color: aliceblue;
}