.wrapper-detail{
  box-shadow: 0 0 68px #ccc;
  margin-top: 30px;
}
.eHealthy{
  padding: 0 0 50px 0;
  border-right: 1px solid #ccc;
}
.wrapper-content{
  margin-left: 15px;
}
select{
  margin-left: 0 !important;
}
.eHealthy .namePatient{
  background-color: #003ab8;
  padding: 10px 0;
  display: flex;
  align-self: center;
  color: aliceblue;
  box-shadow: -1px 3px 10px #eaeaea;
}
.eHealthy .namePatient h2{
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  width: 90%;
  margin: 0;
  align-self: center;
}
.eHealthy .namePatient a{
  width: 10%;
  text-align: right;
  color: aliceblue;
}
.eHealthy .dateExam{
  color: aliceblue;
  background-color: #00226d;
  padding: 5px 10px;
  border-radius: 5px;
  width: 40%;
  margin: 20px 10px;
  font-size: 14px;
  font-weight: 600;
}
.listService h2.title,
.totalReceipt h2.title,
.profileMini h2.title{
  font-size: 16px;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}
.listService h2.title::before,
.totalReceipt h2.title::before,
.profileMini h2.title::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 40px;
  background-color: #003ab8;
  bottom: -5px;
  left: 0;
}
.listService ul{
  padding-left: 15px;
}
.service{
  margin-right: 15px;
  font-size: 14px;
  color: rgb(100, 98, 98);
}
.service .title{
  display: flex;
  justify-content: space-between;
}
.service .title .cost{
  font-weight: 600;
  color: #ca0303;
}
.service .detail{
  background-color: #d6e1f8;
  padding: 7px 15px;
}
.service .detail p{
  font-weight: 600;
  margin-bottom: 5px;
}
.service .detail span{
  font-weight: 400;
}
.totalReceipt .content{
  color: #ca0303;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}
.totalReceipt .content .information{
  font-weight: 600;
}
.profileMini .content{
  margin-right: 15px;
  font-size: 14px;
}
.profileMini .content .information{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.profileMini .content .information i{
  margin-right: 7px;
}
.profileMini .content .information p{
  margin-bottom: 0;
}
.eHealthyDetail{
  padding: 50px 0;
  background-color: rgb(223, 248, 248);
}
.eHealthyDetail h2{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.eHealthyDetail .wrapper{
  margin: 40px 15px 20px;
}
.eHealthyDetail .actions{
  border-bottom: 1px solid #ccc;
}
.eHealthyDetail .actions ul{
 padding: 0;
 margin: 0;
}
.eHealthyDetail .actions ul li{
  list-style-type: none;
  text-align: center;
  font-size: 12px;
  position: relative;
}
.eHealthyDetail .actions ul li.active::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #003ab8;
}
.eHealthyDetail .actions ul li img{
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.swiper {
  width: 90%;
  height: 100%;
  margin: 30px;
  align-content: center;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 14px;
  font-weight: 700;
  color: #00226d;
}
.results .resultDetail{
  margin: 20px 30px;
  font-size: 15px;
  color: rgb(66, 65, 65);
}
.resultDetail .diagnostic{
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}
