.table .detail{
  position: relative;
}
.detailHover{
  display: none;
  position: absolute;
  bottom: 2px;
  right: -75px;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #0e97bd;
  color: aliceblue;
}
.detail:hover .detailHover{
  display: block;
}