header .container-fluid {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 30px;
  position: relative;
}

.logo {
  font-size: 20px;
}

.logo i {
  font-size: 30px;
}

.listItem ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.listItem ul li {
  padding: 10px 20px;
}